
header {
    background-color: #333; 
    padding: 1em;
    text-align: center;
}

h1 {
    color: #FFFFFF; 
    margin-bottom: 1em;
}

button {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #007BFF; 
}


#tabelaEmprestimos {
    width: 80%;
    margin: 20px auto;
}

#tabelaEmprestimos th {
    background-color: #333; 
    color: #FFFFFF; 
}

#tabelaEmprestimos td {
    background-color: #E9ECEF; 
}

#modalEmprestimoContainer .modal-content {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #FFFFFF; 
}

form#formEmprestimo label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form#formEmprestimo input,
form#formEmprestimo select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


@media (max-width: 600px) {
    #tabelaEmprestimos {
        width: 100%;
        font-size: 14px;
    }
}
 